<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="youtube,download,mp4,mp3,downloader">
    <meta name="description" content="Easily download YouTube videos in MP4, MP3, and more formats with Ytdler.com. Fast, free, and user-friendly YouTube downloader for all your needs.">
    <link rel="stylesheet" href="../static/css/style.min.css">
    <link rel="icon" href="../static/image/favicon.ico">
    <title>YouTube Downloader - Free & Fast & Easy YouTube Video Download | Ytdler</title>
</head>
<body>
    <header>
        <h1>YouTube Downloader</h1>

        <div class="sec-1">
            <input type="text" class="vidurl-input" placeholder="Enter a YouTube URL or keywords to search">
            <button class="next-1-btn">Download</button>
        </div>
    </header>

    <main>
        <section class="step-1-wrap">
        </section>

        <section class="intro">
            <section>
                <h2>Welcome to Ytdler.com!</h2>
                <p>Ytdler.com is a free tool for downloading YouTube videos in a variety of formats, including MP4, Webm, MP3, and more. With a simple and fast process, you can easily download your favorite videos in just a few clicks.</p>
            </section>

            <section>
                <h2>How to Use Ytdler.com</h2>
                <h3>Step 1: Enter the Video URL</h3>
                <p>To begin, paste the URL of the YouTube video you want to download into the input field. After entering the link, click the <strong><span style="color:crimson">Download</span></strong> button to fetch the video information.</p>

                <h3>Step 2: Select Your Preferred Format</h3>
                <p>Once the video details are retrieved, you’ll see a list of available formats. Choose the one that fits your needs—whether it's MP4, MP3, or WebM.</p>

                <h3>Step 3: Specify the File Name</h3>
                <p>Before downloading, you can specify a custom file name for the video. Use the following placeholders to dynamically include video details:</p>
                <ul>
                <li><strong>[title]</strong>: The title of the video</li>
                <li><strong>[id]</strong>: The video ID</li>
                <li><strong>[channel]</strong>: The name of the uploader</li>
                </ul>
                <p>For example, a file name like <strong><span style="color:crimson">"[title] - [channel]"</span></strong> will generate a file name such as <strong><span style="color:crimson">"My Video - My Channel.mp4"</span></strong>.</p>

                <h3>Step 4: Download the Video</h3>
                <p>After selecting your preferred format and specifying the file name (if desired), click the <strong><span style="color:crimson">Download</span></strong> button. The download will begin automatically, and the video will be saved to your device.</p>
            </section>
        </section>
    </main>

    <footer>
        <small>All rights reserved by Ytdler.com.</small>
    </footer>

    <script src="../static/js/index.min.js">
    </script>
</body>
</html>
